@media screen and (max-width: 768px) {
    .btncreate{
        padding: 1rem;
        position:relative;
        float:right;


    }

    .btnaccion{
        margin-top: 5px;
        margin-right: 5px;
        margin-left: 3px;
        align-items: center;

    }



}
